//Global Colors
$bodyBackground: #778899;
$regionalBackground: #ea5c41;
$deepBackground: #f2b03e;
$homininBackground: #87bcd2;
$base: white;

//Structural Elements
$base-padding: $grid-gutter-width / 2;
