<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h1>Editing {{$ctrl.item.editType}} {{$ctrl.item.name}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div>
                <label>Name: <input type="text" ng-model="$ctrl.item.name" /></label>
            </div>
            <div ng-if="$ctrl.item.editType == 'exercise'">
                <label>Type: <select ng-model="$ctrl.item.type"></label>
                    <option value="Scale">Scale</option>
                    <option value="Exercise">Exercise</option>
                </select>
            </div>
            <div>
                <label>Image Url: <input type="text" ng-model="$ctrl.item.imagePath" /></label>
            </div>
            <div>
                <label>Comments: <textarea ng-model="$ctrl.item.comments"></textarea></label>
            </div>
            <div>
                <label>Current: <input type="checkbox" ng-model="$ctrl.item.current" /></label>
            </div>
        </div>
    </div>
</div>
