.PracticeItem {
    background: #eee;
    border-bottom: 2px solid gray;
    margin-bottom: $base-padding;
    padding: $base-padding 0;
    border-radius: 5px;

    .action {
        font-size: 28px;
        margin-top: $base-padding;
    }
}
